*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Spartan' ,sans-serif;
}
h1
{
    font-size: 50px;
    line-height: 64px;
    color:black;
}
.normal
{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: white;
    background-color:#088178;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
h2
{
    
    font-size: 46px;
    line-height: 54px;
    color:black;

}
h4
{
    font-size: 20px;
    color:black;
}
h6
{
    font-size: 12px;
    font-weight: 700;
}
p
{
    font-size: 16px;
    color: gray;
    margin: 15px 0 20px 0;
}
.section-p1
{
    padding: 40px 80px;
}
.section-m1
{
    padding: 40px 0;
}
body{
    width: 100%;
}

#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: antiquewhite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    /* position: sticky; */
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
}
#navbar li a:hover,
#navbar li a.active
{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#hero
{
    background-image: url("images/modelimg3.jpg ");
    height: 150vh;
    width: 100%;
    background-size: cover;
    background-position: top 30% left 30%;
    padding: 200px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    ;
}
#hero h4
{
    padding-bottom: 15px;
    color: orange;
}
#hero h2
{
    color: white;
}
#hero h1
{
    color: white;
}
#hero p
{
    color: green;
    font-weight: 800;
    font-size: 18px;
}
#hero button
{
    padding: 14px 80px 14px 65px;
    background-image: url(images/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    background-repeat: no-repeat;
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
}

#feature .fe-box
{
    font-size: 40px;
    width: 200px;
    text-align: center;
    padding: 25px 0px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box img
{
    width: 100%;
    margin-bottom: 0;
}
#feature .fe-box:hover
{
    cursor: pointer;
}
#feature .fe-box:nth-child(2) h4
{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(3) h4
{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(4) h4
{
    background-color: #f6dbf6;
}
#feature .fe-box h4
{

    display: inline-block;
    padding: 15px 18px 16px 18px;
    line-height: 1px;
    border-radius: 16px;
    color: #088178;
    background-color: #fddde4;
}

#feature
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 .pro-container
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1
{
    text-align: center;
}
#product1 .pro
{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 40px 40px 60px rgba(0,0,0,0.02);
    margin: 15px 0;
 }
#featuredProduct :hover
{box-shadow: 20px 20px 30px rgba(0,0,0,0.06); 
}
#product1 .pro img
{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des
{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span
{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h4
{
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: #088178;
}
#banner
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* text-align: center; */
    align-items: center;
    background-image: url(images/jute-banner1-1.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
}
#banner h2
{
    color: blue;
    font-weight: bolder;
}
#banner span
{
    color: crimson;
}
#banner button
{
    font-size: 14px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 20px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#banner button:hover
{
    background-color: #088178;
    color: #cce7d0;
}
#sm-banner
{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
#sm-banner .banner-box
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: flex-end;
    background-image: url(images/wbNew4.png);
    min-width: 540px;
    height: 60vh;
    background-size: cover;
    background-position: center;   
}
#sm-banner .banner-box2
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: flex-end;
    background-image: url(images/banner2.png);
    min-width: 540px;
    height: 60vh;
    background-size: cover;
    background-position: center;   
}
#three-banner
{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
#three-banner h2
{
    padding-top: 170px;
    color:black;
}
#three-banner .banner1
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: flex-end;
    background-image: url(images/bn1.png);
    min-width: 30%;
    height: 60vh;
    background-size: cover;
    background-position: center;   
}
#three-banner .banner2
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: flex-end;
    background-image: url(images/bn2.png);
    min-width: 30%;
    height: 60vh;
    background-size: cover;
    background-position: center;   
}
#three-banner .banner3
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: flex-end;
    background-image: url(images/bn3.png);
    min-width: 30%;
    height: 60vh;
    background-size: cover;
    background-position: center;   
}
#newsletter
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/bannerbg1.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
}
#newsletter h4
{
    padding: 0px 55px;
    color: 22px;
    font-size: 700;
    font-weight: #fff;
}
#newsletter p
{
    padding: 0px 55px;
    color: 14px;
    font-size: 600;
    font-weight: #818ea0;
}
#newsletter p span
{ color: yellow;
}
#newsletter input
{ 
    height: 3.125rem;
    padding: 0 1em;
    font-size: 14px;
    width: 70%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#newsletter .form
{
    display: flex;
    width: 40%;
}
#newsletter button{
    background-color: #088178;
    color: #cce7d0;
    white-space: nowrap;
    width: 30%;
}
footer 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
footer .col
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo
{
    margin-bottom: 30px;
}
footer h4
{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p
{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a
{
    font-size: 13px;
    text-decoration: none;
    color: #1a1a1a;
    padding-bottom: 10px;
}
footer .follow
{
    margin-top: 20px;
}
footer .follow i{
    color: #606063;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img
{
    border: 1px solid #088178;
    border-radius: 6px;
    cursor: pointer;
}

footer .install  img
{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover
{
    color: #088178;
}
footer .copyright
{
    width: 100%;
    text-align: center;
}
footer img:hover{
    height:9.5vh;
}

#page-header
{
    background-image: url(images/shopBanner1.png);
    width: 100%;
    height: 70vh;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    padding: 150px 100px;  
}
#page-header h1,
#page-header h2{
    color:darkseagreen
}
#pagination
{
    text-align: center;
}
#pagination a
{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #cce7d0;
    font-weight: 600;
}

#prodetails .single-pro-image
{
    width: 40%;
    margin-right: 50px;
}
#prodetails .small-img
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-color: #088178;
}
.smallimg-col
{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails
{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-details
{
    width: 50%;
    padding-top: 40px;
}

#prodetails .single-pro-details h4
{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2
{
    font-size: 28px;
    padding: 0 0 20px 0;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input
{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details button
{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:#fff;
    background-color:#088178;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}
#page-header.about-header
{
    background-image: url(images/aboutUsBg.jpg);
    height: 350px;
}
#about-head img
{
    width: 50%;
    height: auto;
    border-radius: 20px;
}
#about-head
{
    display: flex;
    align-items: center;
}
#about-head div
{
    padding-left: 40px;
}
#about-head p
{
    color: teal;
    font-size: 18px;
}
#page-header.contact-header{
    background-image: url(images/aboutUsBg3.png);
    height: 50px;
    align-items: center;
    padding-top: 100px;
}
#contact-details
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details
{
    width: 40%;
}
#contact-details .details span,
#forms form span
{
    font-size: 15px;
}
#contact-details .details h2,
#forms form h2
{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3
{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li
{
    list-style: none;
    display: flex;
    padding: 10px;
}
#contact-details .details li i
{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p
{
    margin: 0;
    font-size: 14px;
    }
#contact-details .map
    {
        width: 55%;
        height: 400px;
    }
#contact-details .map iframe
{
    width: 100%;
    height: 100%;
}
#forms
{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #088178;
    border-radius: 14px;
}
#forms form
{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#forms form input,
#forms form textarea
{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1ee;
}
#forms .people div
{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#forms .people div img
{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#forms .people div p
{
    font-size: 13px;
    line-height: 25px;
}
#forms .people div span
{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
}
#cart table
{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;

}
#cart table img
{
    width: 90px;
    padding: 10px 5px 10px 15px;
}

#cart table td:nth-child(1)
{
    width: 100px;
    align-items: center;
}
#cart table td:nth-child(2)
{
    width: 150px;
    align-items: center;
}
#cart table td:nth-child(3)
{
    width: 250px;
    align-items: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)
{
    width: 150px;
    align-items: center;
}
#cart table td:nth-child(5) input
{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead
{
    border: 1px solid #088178;
    border-left: none;
    border-right: none;
}
#cart table thead td
{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px;
}

#cart table tbody tr td
{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 15px;
}
#page-header.cart-header{
    background-image: url(images/cartBg.jpg);
    height: 50px;
    align-items: center;
    padding-top: 100px;
}
#cart-add
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#coupon
{
    width: 50%;
    margin-bottom: 30px ;
}
#coupon input
{
    padding: 10px 20px;
    outline: none;
    width: 40%;
    margin-right: 10px;
    border: 1px solid #088178;
}
#Subtotal 
{
    width: 35%;
    margin-bottom: 30px;
    border: 1px solid #088178;
    padding: 30px;
}
#Subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#Subtotal table td
{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
#coupon h3,
#Subtotal h3
{
    padding-bottom: 15px;
}